aiohttp==3.9.1
aiohttp-retry==2.8.3
aiosignal==1.3.1
anyio==4.0.0
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
audioread==3.0.1
awsebcli==3.20.10
botocore==1.31.85
cement==2.8.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.3
coreapi==2.3.3
coreschema==0.0.4
cryptography==41.0.7
decorator==5.1.1
defusedxml==0.7.1
diff-match-patch==20230430
distlib==0.3.7
dj-database-url==2.1.0
dj-rest-auth==5.0.2
Django==4.2.5
django-admin-thumbnails==0.2.8
django-allauth==0.58.2
django-autoslug==1.9.9
django-crispy-forms==2.0
django-environ==0.11.2
django-heroku==0.3.1
django-import-export==3.3.1
django-jazzmin==2.6.0
django-taggit==4.0.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
docopt==0.6.2
drf-yasg==1.21.7
environ==1.0
et-xmlfile==1.1.0
exceptiongroup==1.1.3
filelock==3.12.4
frozenlist==1.4.0
future==0.18.3
geographiclib==2.0
geopy==2.4.1
gunicorn==21.2.0
h11==0.14.0
httpcore==1.0.2
httpx==0.25.1
idna==3.4
inflection==0.5.1
iniconfig==2.0.0
install==1.3.5
itypes==1.2.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
lazy_loader==0.3
librosa==0.10.1
llvmlite==0.41.1
MarkupPy==1.14
MarkupSafe==2.1.3
MIDIUtil==1.2.1
msgpack==1.0.7
multidict==6.0.4
numba==0.58.1
numpy==1.26.2
oauthlib==3.2.2
odfpy==1.4.1
openpyxl==3.1.2
package-name==0.1
packaging==23.1
pathspec==0.10.1
phonenumbers==8.13.26
Pillow==10.0.1
pipreqs==0.4.13
platformdirs==3.10.0
pluggy==1.3.0
pooch==1.8.0
psycopg2==2.9.9
pycparser==2.21
Pygments==2.17.2
PyJWT==2.8.0
pypiwin32==223
pytest==7.4.2
python-dateutil==2.8.2
python-decouple==3.8
python-telegram-bot==20.6
python3-openid==3.2.0
pytz==2023.3.post1
pywin32==306
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==1.3.1
rest-framework-simplejwt==0.0.2
scikit-learn==1.3.2
scipy==1.11.4
semantic-version==2.8.5
shortuuid==1.0.11
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
social-auth-app-django==5.4.0
social-auth-core==4.5.1
soundfile==0.12.1
soxr==0.3.7
spark-parser==1.8.9
sphinxcontrib-jsmath==1.0.1
sqlparse==0.4.4
tablib==3.5.0
termcolor==1.1.0
threadpoolctl==3.2.0
tomli==2.0.1
twilio==8.10.2
typing_extensions==4.7.1
tzdata==2023.3
uritemplate==4.1.1
urllib3==1.26.18
virtualenv==20.24.5
wcwidth==0.1.9
whitenoise==6.6.0
xdis==6.0.5
xlrd==2.0.1
xlwt==1.3.0
yarg==0.1.9
yarl==1.9.3
